# Build outputs
dataset_generator.exe
*.exe
*.o
*.obj

# Environment files
.env
.env.*
*.env
venv/
.venv/
env/

# OS/editor files
Thumbs.db
.DS_Store

radix_sorted_dataset_*.csv
heap_sorted_dataset_*.csv
*.csv
dataset/*.csv
dataset_search/*.csv
